/*
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License
*/
/*Modifié par Pierre Rudloff en mai 2012*/


/* Basic */

h1
{
    font-size: 1.6em;
    font-weight:bold;
    color: #444;
    margin: 0;
    padding: 0;
}

h4,h5,h6
{
    color: #444;
    margin: 0;
    padding: 0;
}

h3
{
    font-size: 1.0em;
    color: #444;
    margin: 0;
    padding: 0;
}

h3 a img {
    vertical-align:baseline;
}

h2
{
    font-size: 1.25em;
    color: #444;
    margin: 0;
    padding: 0;
}

table td,
table{
    border-spacing:0;
    border:none;
}

.primaryContent,
.secondaryContent,
body,
.menu ul {
    margin: 0;
    padding: 0;
}

body,input
{
    font-family: tahoma, sans-serif;
    font-size: 10pt;
    color: #4B4B4B;
}

input.button
{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #888;
    border-right: solid 1px #888;
    background-color: #eaeaea;
    color: #555;
    font-size: 0.8em;
    padding: 0.35em;
}

input.text
{
    border-top: solid 1px #888;
    border-left: solid 1px #888;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 0.1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

a
{
    color: #006699;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    color: #2288BB;
}

/* Outer */

.outer
{
    margin: 0 auto 0 auto;
    width: 100%;
}

/* Header */

.header
{
    /*padding: 4.5em 4.5em 0 4.5em;*/
    padding:44px 0 0 0;
    margin:0;
}

.header .title {
    padding-left:30px;
}

.header img {
    vertical-align:top;
}

.header .homeTitle {
    margin-top:3em;
}

.header .h2
{
    font-size: 0.8em;
    font-weight: normal;
    color: #949494;
    display: inline;
    padding-left: 0.5em;
}

.header .h1
{
    font-size: 1.9em;
    display: inline;
    letter-spacing: -0.05em;
}




.header .h1 a
{
    color: #343434;
    text-decoration: none;
}


/* Menu */

.menu
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #558800;
    border-bottom: solid 1px #336600;
    width: 100%;
}

.menu ul
{
    padding: 1em 1em 1em 4.5em;
    list-style: none;
}

.menu .nopadding{
    padding:0;
}

.menu li
{
    display: inline;
    padding-right: 1em;
    font-size: 0.8em;
}

.menu li a
{
    color: #fff;
    background-color: inherit;
}

.menu li a:hover
{
    border-bottom: solid 1px #558800;
}

/* Content */

/*.content
{
    padding-left: 2em;
    padding-right: 2em;
}*/

.box
{
    margin-bottom: 1.25em;
}

.boxContent
{
    margin-top: 0.5em;
    /*width:140px;*/
    padding: 0.25em 1em 0.25em 1em;
    background: #ffffff url('images/a1.gif') top left repeat-x;
}

/** boxA **/

.boxA .boxContent
{
    margin-top: 0;
    color: #fff;
    border-bottom: solid 1px #bb6600;
    background: #ff8800;
    padding: 1em 1.5em 1em 1em;
}

.boxA span
{
    font-weight: bold;
    font-size: 0.8em;
}

.boxA a
{
    background-color: inherit;
    color: #fff;
    font-size: 0.8em;
}

.boxA a:hover
{
    text-decoration: none;
    border-bottom: solid 1px #ff9900;
}

.boxA input.button
{
    margin-top: 0.25em;
    vertical-align: middle;
}
.box input {
    max-width:130px;
}
.boxA input.text
{
    width: 90%;
}

/** boxB **/

.boxB .boxContent
{
    margin-top: 0;
    color: #fff;
    border-bottom: solid 1px #004466;
    background: #007799;
    padding: 1em 1.5em 1em 1em;
}

.boxB span
{
    font-weight: bold;
    font-size: 0.8em;
}

.boxB a
{
    background-color: inherit;
    color: #fff;
    font-size: 0.8em;
}

.dernierscomm,
.boxB a:hover
{
    text-decoration: underline;
}

.dernierscomm {
    color: rgb(0, 119, 153);
}

.boxB input.button
{
    margin-top: 0.25em;
    vertical-align: middle;
}

.boxB input.text
{
    width: 100%;
}

/** Content **/

.content p
{
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.5em;
}

.content strong
{
    color: #444;
}



.content ul
{
    margin-bottom: 1em;
    padding-left: 1em;
    line-height: 1.8em;
}

.primaryContent ul {
    margin:0;
    padding:0;
    line-height: 1.5em;
    list-style-position:inside;
}
.primaryContent ul li ul{
    margin-top:0.5em;
    padding-left:2em;
}
.content blockquote
{
    padding: 1em;
    margin-bottom: 1.5em;
    border-left: solid 6px #558800;
}

.content blockquote p
{
    margin-bottom: 0;
    line-height: 1.5em;
}

.content table
{
    margin-bottom: 1.5em;
}

.content table th
{
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    color: #444;
}

.content table td
{
    padding: 0.5em;
    padding-bottom:0;
}

.content table .rowA
{
    background-color: #efefef;
    color: inherit;
}

.content table .rowB
{
    background-color: #fafafa;
    color: inherit;
}

/* Primary Content */

.primaryContentContainer
{
    float: right;
    margin-left: -19em;
    width: 100%;
}

.primaryContent
{
    /* 01/04/2008 correction décalage du bloc central passage de 17em à 15em */
    margin: 0 0 0 200px;
    padding: 0 0 0 5px ;
    margin-right:25px;
}

/* Secondary Content */
/* menu de gauche */
.secondaryContent
{
    float: left;
    max-width:130px;
    /*width: 13em;*/
    padding: 2.5em 2.5em 1.5em 2.5em;
}

/* Footer */

.footer
{
    border-top: solid 1px #e5e5e5;
    text-align: center;
    padding-top: 0.4em;
    padding-left:1em;
    bottom:0;
    background-color:white;
    z-index:9;
}

.clear
{
    clear: both;
}

/* personnalisés */
.center
{
    text-align: center;
}

/********************************************************/
/* ajout laurent                                         */
/********************************************************/

/* TD Entete de la popup */

.tdEntetePopup         { padding:0;background-color:#007799; }

.texteEntetePopup     { color:#FFFFFF;font-size:12px;font-weight:bold;float:left; }

.boutonFermerPopup    { text-align:right; }

/* Entetes du tableau de liaison d'adresses */

.enteteAdresses { background-color:#006699;color:#FFFFFF; font-size:12px; font-weight:bold; }

/* Entetes du tableau de la page d'inscription d'utilisateur */

.enteteInscription { background-color:#006699;color:#FFFFFF; font-size:12px; font-weight:bold; }

.borduresInscription { border-right : 1px solid #000000; border-top:1px solid #000000;}

.bordureFinInscription { border-bottom:1px solid #000000; }

/* Entetes du tableau d'authentification */

.enteteAuthentificationNoCompact { font-size:12px; background-color:#006699;  color:#FFFFFF}

.enteteAuthentificationCompact { font-size:12px; color:#FFFFFF; border:none;}

.borduresAuthentification { border-right : 1px solid #000000; border-top:1px solid #000000;}

.borduresFinAuthentification { border-bottom:1px solid #000000; }

.authentification,
.authentification tbody,
.authentification tr,
.authentification td {
    border:none;
} 

/* entetes tableau ajout d'un dossier */

.enteteFormulaireDossier{ font-size:12px; background-color:#006699; color:#FFFFFF;}

.enteteFormulaireDossierTypeEvenement{ font-size:12px; background-color:#668899; color:#FFFFFF;}

.listeCourantsArchitecturaux, .choixFormulaireTypeEvenement{font-size:12px; color:#000000;}

/* entetes tableau modification des infos d'une image */

.enteteFormulaireMajPhoto {font-size:12px; background-color:#006699; color:#FFFFFF;}

/* tableau recapitulatif des adresses de l'evenement */

.tableauResumeAdresse{ border: 2px solid rgb(102, 102, 102);}

/* tableau entourant le descritif de l'evenement */

.tableauDescriptifEvenement{ border: 2px solid rgb(102, 102, 102); padding-top:0;padding-bottom:0;}

.textePetit {font-size:11px;}


/* styles sur le detail d'une photo , liens vers les différents formats */
.formatAffichePhotoSelected{color:#FF0000;font-weight:bold;}
.formatAffichePhoto{color:#007799;}

/*style du titre d'evenement qui s'affiche sur l'affichage d'adresse , ex sur detail d'une image vue sur ou prise depuis*/
.textePrisDepuisVueSur{font-size:14px;}

.textePrisDepuisVueSurEntete{font-weight:bold;}

.divConsultationHistoriqueEvenement{ 
border-top:10px solid #007799; 
border-bottom:0; 
border-left:2px solid #007799; 
border-right:0;
margin-bottom:10px;
padding-left:5px;
}

.inline-block {
    display:inline-block;
}

img { border: 0; } 

.boxContent{
    min-width:140px;
}

.center {
    text-align:center;
}

.clear{
clear:both;
}

.homeTable td {
    width:49%;
    vertical-align:top;
}

.results {
    width:100%;
    max-width:1000px;
    margin:auto;
}

.flag img{
    vertical-align:middle;
}

.puce{
    list-style-image:url("images/puce.png");
    vertical-align:middle;
    line-height:1em;
}

.adminMenu{
    list-style-position:inside;
    font-size:larger;
}
.adminMenu li{
    margin-bottom:1em;
}
.inside{
list-style-position:inside;
}
.square{
list-style-type:square;
}

.loginForm{
float:right;
padding-right:1em;
line-height:11px;
color:white;
}

.loginForm .imgBtn{
    vertical-align:top;
}

.userMenu{
padding:15px 5px 15px 5px;
margin:0;
overflow:visible;
display:block;
list-style-type:none;
}
.userMenu li{
line-height:1.2em;

}

.h1 {
    font-size:x-large;
    font-weight:bold;
}


.box {
    width:100%;
}

.center{
    text-align:center;
}

.subbox{
    width:170px;
}

.actionEvent{
    list-style-type:none;
    padding-left:1em;
    background-color:#E1E1E1;
}

.onglet {
    border:thin solid #333;
}

.desc {
    text-align:justify;
}

.nopadding{
    padding:0;
}


.commentHeader {
font-size:12px;font-weight:bold;border-bottom:2px solid #007799;background-color:#007799;color:#FFFFFF;
}

.commentHeader,
.comment {
    padding:0.5em;
}

.eventImage {
    border:solid 2px #007799;
}

.calque,
.calquePersonne,
.calqueRue,
.calqueDate,
.calqueSource {
    z-index:10;
}

.right {
    float:right;
}

.left {
    float:left;
}

.footer nav li {
    list-style-type:none;
    display:inline;
}
.footer nav li:after {
    content:" |";
}

.footer nav li:last-child:after {
    content:"";
}

.footer .left {
    padding-top:0.2em;
}

.footer .left img{
    margin-left:0.5em;
}

.footer .right {
    padding-top:0.5em;
    margin-right:1em;
    padding-bottom:0.5em;
    vertical-align:top;
}

.footer .fb_ltr,
.footer .twitter-follow-button {
vertical-align:top;
}

.primaryContent .h1 {
    margin-bottom:0.5em;
}


.large,
.evenement {
    width:100%;
}

.barredons {
    float:right;
    margin-top:3em;
}


.barredons .percent {
    position:relative;
    color:#222;
    right:5.4em;
}

.progressbar{
    display:inline-block;
    width:6em;
    vertical-align:bottom;
}
.barredons .euros {
    padding-left:2em;
}

.licence{
    padding:0.5em;
    background-color:#EEE;
    border:thin solid #BBB;
    min-height:35px;
    max-width:50%;
}

.licence img{
    vertical-align:middle;
}

.personHeader {
    padding:1em;
}
