/*
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License
*/

/*Modifié par Pierre Rudloff en mai 2012*/

/* Basic */

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-weight: bold;
    color: #444;
}

h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #444;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #444;
}

h3 a img {
    vertical-align: baseline;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    color: #444;
}

table td,
table {
    border: none;
    border-spacing: 0;
}

.primaryContent,
.secondaryContent,
body,
.menu ul {
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: tahoma,sans-serif;
    font-size: 10pt;
    color: #4B4B4B;
}

input.button {
    padding: 0.35em;
    border-top: solid 1px #fff;
    border-right: solid 1px #888;
    border-bottom: solid 1px #888;
    border-left: solid 1px #fff;
    font-size: 0.8em;
    color: #555;
    background-color: #eaeaea;
}

input.text {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.1em;
    border-top: solid 1px #888;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #888;
}

a {
    text-decoration: none;
    color: #006699;
}

a:hover {
    text-decoration: none;
    color: #2288BB;
}

/* Outer */

.outer {
    width: 100%;
    margin: 0 auto 0 auto;
}

/* Header */

.header {
    margin: 0;
    padding: 44px 0 0 0;
}

.header .title {
    padding-left: 30px;
}

.header img {
    vertical-align: top;
}

.header .homeTitle {
    margin-top: 3em;
}

.header .h2 {
    display: inline;
    padding-left: 0.5em;
    font-size: 0.8em;
    font-weight: normal;
    color: #949494;
}

.header .h1 {
    display: inline;
    font-size: 1.9em;
    letter-spacing: -0.05em;
}

.header .h1 a {
    text-decoration: none;
    color: #343434;
}

/* Menu */

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px #336600;
    background-color: #558800;
}

.menu ul {
    padding: 1em 1em 1em 4.5em;
    list-style: none;
}

.menu .nopadding {
    padding: 0;
}

.menu li {
    display: inline;
    padding-right: 1em;
    font-size: 0.8em;
}

.menu li a {
    color: #fff;
    background-color: inherit;
}

.menu li a:hover {
    border-bottom: solid 1px #558800;
}

/* Content */

/*.content
{
    padding-left: 2em;
    padding-right: 2em;
}*/

.box {
    margin-bottom: 1.25em;
}

.boxContent {
    margin-top: 0.5em;
    padding: 0.25em 1em 0.25em 1em;
    background: #ffffff url('images/a1.gif') top left repeat-x;
}

/** boxA **/

.boxA .boxContent {
    margin-top: 0;
    padding: 1em 1.5em 1em 1em;
    border-bottom: solid 1px #bb6600;
    color: #fff;
    background: #ff8800;
}

.boxA span {
    font-size: 0.8em;
    font-weight: bold;
}

.boxA a {
    font-size: 0.8em;
    color: #fff;
    background-color: inherit;
}

.boxA a:hover {
    border-bottom: solid 1px #ff9900;
    text-decoration: none;
}

.boxA input.button {
    margin-top: 0.25em;
    vertical-align: middle;
}

.box input {
    max-width: 130px;
}

.boxA input.text {
    width: 90%;
}

/** boxB **/

.boxB .boxContent {
    margin-top: 0;
    padding: 1em 1.5em 1em 1em;
    border-bottom: solid 1px #004466;
    color: #fff;
    background: #007799;
}

.boxB span {
    font-size: 0.8em;
    font-weight: bold;
}

.boxB a {
    font-size: 0.8em;
    color: #fff;
    background-color: inherit;
}

.dernierscomm,
.boxB a:hover {
    text-decoration: underline;
}

.dernierscomm {
    color: rgb(0,119,153);
}

.boxB input.button {
    margin-top: 0.25em;
    vertical-align: middle;
}

.boxB input.text {
    width: 100%;
}

/** Content **/

.content p {
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.5em;
}

.content strong {
    color: #444;
}

.content ul {
    margin-bottom: 1em;
    padding-left: 1em;
    line-height: 1.8em;
}

.primaryContent ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    list-style-position: inside;
}

.primaryContent ul li ul {
    margin-top: 0.5em;
    padding-left: 2em;
}

.content blockquote {
    margin-bottom: 1.5em;
    padding: 1em;
    border-left: solid 6px #558800;
}

.content blockquote p {
    margin-bottom: 0;
    line-height: 1.5em;
}

.content table {
    margin-bottom: 1.5em;
}

.content table th {
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
    color: #444;
}

.content table td {
    padding: 0.5em;
    padding-bottom: 0;
}

.content table .rowA {
    color: inherit;
    background-color: #efefef;
}

.content table .rowB {
    color: inherit;
    background-color: #fafafa;
}

/* Primary Content */

.primaryContentContainer {
    float: right;
    width: 100%;
    margin-left: -19em;
}

.primaryContent {
    margin: 0 0 0 200px;
    margin-right: 25px;
    padding: 0 0 0 5px;
}

/* Secondary Content */

/* menu de gauche */

.secondaryContent {
    float: left;
    padding: 2.5em 2.5em 1.5em 2.5em;
    max-width: 130px;
}

/* Footer */

.footer {
    z-index: 9;
    bottom: 0;
    padding-top: 0.4em;
    padding-left: 1em;
    border-top: solid 1px #e5e5e5;
    text-align: center;
    background-color: white;
}

.clear {
    clear: both;
}

/* personnalisés */

.center {
    text-align: center;
}

/********************************************************/

/* ajout laurent                                         */

/********************************************************/

/* TD Entete de la popup */

.tdEntetePopup {
    padding: 0;
    background-color: #007799;
}

.texteEntetePopup {
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

.boutonFermerPopup {
    text-align: right;
}

/* Entetes du tableau de liaison d'adresses */

.enteteAdresses {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #006699;
}

/* Entetes du tableau de la page d'inscription d'utilisateur */

.enteteInscription {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #006699;
}

.borduresInscription {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}

.bordureFinInscription {
    border-bottom: 1px solid #000000;
}

/* Entetes du tableau d'authentification */

.enteteAuthentificationNoCompact {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #006699;
}

.enteteAuthentificationCompact {
    border: none;
    font-size: 12px;
    color: #FFFFFF;
}

.borduresAuthentification {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}

.borduresFinAuthentification {
    border-bottom: 1px solid #000000;
}

.authentification,
.authentification tbody,
.authentification tr,
.authentification td {
    border: none;
}

/* entetes tableau ajout d'un dossier */

.enteteFormulaireDossier {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #006699;
}

.enteteFormulaireDossierTypeEvenement {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #668899;
}

.listeCourantsArchitecturaux,
.choixFormulaireTypeEvenement {
    font-size: 12px;
    color: #000000;
}

/* entetes tableau modification des infos d'une image */

.enteteFormulaireMajPhoto {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #006699;
}

/* tableau recapitulatif des adresses de l'evenement */

.tableauResumeAdresse {
    border: 2px solid rgb(102,102,102);
}

/* tableau entourant le descritif de l'evenement */

.tableauDescriptifEvenement {
    padding-top: 0;
    padding-bottom: 0;
    border: 2px solid rgb(102,102,102);
}

.textePetit {
    font-size: 11px;
}

/* styles sur le detail d'une photo , liens vers les différents formats */

.formatAffichePhotoSelected {
    font-weight: bold;
    color: #FF0000;
}

.formatAffichePhoto {
    color: #007799;
}

/*style du titre d'evenement qui s'affiche sur l'affichage d'adresse , ex sur detail d'une image vue sur ou prise depuis*/

.textePrisDepuisVueSur {
    font-size: 14px;
}

.textePrisDepuisVueSurEntete {
    font-weight: bold;
}

.divConsultationHistoriqueEvenement {
    margin-bottom: 10px;
    padding-left: 5px;
    border-top: 10px solid #007799;
    border-right: 0;
    border-bottom: 0;
    border-left: 2px solid #007799;
}

.inline-block {
    display: inline-block;
}

img {
    border: 0;
}

.boxContent {
    min-width: 140px;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.homeTable td {
    width: 49%;
    vertical-align: top;
}

.results {
    width: 100%;
    margin: auto;
    max-width: 1000px;
}

.flag img {
    vertical-align: middle;
}

.puce {
    line-height: 1em;
    vertical-align: middle;
    list-style-image: url("images/puce.png");
}

.adminMenu {
    font-size: larger;
    list-style-position: inside;
}

.adminMenu li {
    margin-bottom: 1em;
}

.inside {
    list-style-position: inside;
}

.square {
    list-style-type: square;
}

.loginForm {
    float: right;
    padding-right: 1em;
    line-height: 11px;
    color: white;
}

.loginForm .imgBtn {
    vertical-align: top;
}

.userMenu {
    display: block;
    margin: 0;
    padding: 15px 5px 15px 5px;
    overflow: visible;
    list-style-type: none;
}

.userMenu li {
    line-height: 1.2em;
}

.h1 {
    font-size: x-large;
    font-weight: bold;
}

.box {
    width: 100%;
}

.center {
    text-align: center;
}

.subbox {
    width: 170px;
}

.actionEvent {
    padding-left: 1em;
    list-style-type: none;
    background-color: #E1E1E1;
}

.onglet {
    border: thin solid #333;
}

.desc {
    text-align: justify;
}

.nopadding {
    padding: 0;
}

.commentHeader {
    border-bottom: 2px solid #007799;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #007799;
}

.commentHeader,
.comment {
    padding: 0.5em;
}

.eventImage {
    border: solid 2px #007799;
}

.calque,
.calquePersonne,
.calqueRue,
.calqueDate,
.calqueSource {
    z-index: 10;
}

.right {
    float: right;
}

.left {
    float: left;
}

.footer nav li {
    display: inline;
    list-style-type: none;
}

.footer nav li:after {
    content: " |";
}

.footer nav li:last-child:after {
    content: "";
}

.footer .left {
    padding-top: 0.2em;
}

.footer .left img {
    margin-left: 0.5em;
}

.footer .right {
    margin-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: top;
}

.footer .fb_ltr,
.footer .twitter-follow-button {
    vertical-align: top;
}

.primaryContent .h1 {
    margin-bottom: 0.5em;
}

.large,
.evenement {
    width: 100%;
}

.barredons {
    float: right;
    margin-top: 3em;
}

.barredons .percent {
    position: relative;
    right: 5.4em;
    color: #222;
}

.progressbar {
    display: inline-block;
    width: 6em;
    vertical-align: bottom;
}

.barredons .euros {
    padding-left: 2em;
}

.licence {
    padding: 0.5em;
    max-width: 50%;
    min-height: 35px;
    border: thin solid #BBB;
    background-color: #EEE;
}

.licence img {
    vertical-align: middle;
}

.personHeader {
    padding: 1em;
}

.linkedEvents img {
    vertical-align: middle;
}

.linkedEvents {
    margin-bottom: 0.2em;
    list-style-type: square;
}
